<header class="main-container-header">
    <div class="main-container">

        <div class="logo">
            <h1 class="logo-text">PORTIFÓLIO</h1>
        </div>

        <div class="main-menu">
            <h3><a href="/"> HOME </h3></a>
            <h3><a href="/"> SOBRE NÓS </h3></a>
            <h3><a href="/"> PROJETOS </h3></a>
            <h3><a href="/"> CONTATOS </h3></a>
        </div>

        <div class="main-login">
            <h3>
                <a href="">
                    <i class="fas fa-user"></i>
                    <span>Login</span>
                </a>
            </h3>
        </div>
    </div>
</header>