{% load static %}
<main class="conteiner">
    <div class="container-copy1">
        <div class="container-copy1-base-text">
            <h1 class="copy-text-title">Desperte Sua Presença Online </h1>
            <div class="base-copy-text">
                <p class="text-copy">
                    Transforme sua visão em realidade digital! Estamos prontos para criar o site dos seus sonhos.
                </p>
            </div>
        </div>
    </div>
    <div class="pana">
        <img src="{% static "img/pana.png"%}" alt="pana">
    </div>
    <div class="vector1">
        <img src="{% static "img/Vector 1.png"%}" alt="Vector">
    </div>
</main>


{% include "partials/overview.html" %}
{% include "partials/text-depoimentos.html" %}
