{% load static %}
{% include "partials/head.html" %}

<body>
    {% include "partials/header.html" %}
    {% include "partials/main.html" %}

<div class="overview-container">
    <div class="overview">
        <div class="title-overview">
            <h1 class="text-over">overview</h1>
        
            <div class="img-overview-vector2">
                <img src="{% static "img/vector 2.png"%}" alt="vector2">
            </div>
        </div>

        <div class="galeria">

            <div class="img-overview fotos1">
                <img src="{% static "img/fotos-1.png"%}" alt="vector2">
            </div>

            <div class="img-overview fotos2">
                <img src="{% static "img/fotos-2.png"%}" alt="vector2">
            </div>

            <div class="img-overview fotos3">
                <img src="{% static "img/fotos-3.png"%}" alt="vector2">
            </div>
 
            <div class="img-overview fotos4">
                <img src="{% static "img/fotos-4.png"%}" alt="vector2">
            </div>

            <div class="img-overview fotos">
                <img src="{% static "img/fotos.png"%}" alt="vector2">
            </div>
        </div>
    </div>
</div>
</body>


</html>