{% load static %}
{% include "partials/head.html" %}

<body>
    {% include "partials/header.html" %}
    {% include "partials/main.html" %}
    {% include "partials/overview.html" %}

    <div class="depoimentos-conteiner">
        <div class="depoimentos-base">
            <div class="title-depoimentos">
                <h1 class="text-over-depoimentos">depoimentos</h1>
            </div>
        </div>
        {% for dp in depoimentos %}
            {% include "partials/depoimentos.html" %}
        {% endfor %}
    </div>


</body>


</html>